.main {
  margin: 0 auto;
  width: 300px;
}
.main > * {
  margin: 0 auto;
}

.enemy, .player, .log-container {
  border: 1px solid black;
  padding: 2px;
  height: 150px;
  width: 100%;
}
.enemy, .player {
  text-align: center;
  position: relative;
}
.hp-bar {
  width: calc(100% - 4px);
  height: 25px;
  background: #d10606;
  position: absolute;
  z-index: -1;
}

.enemy {}
.enemy .hp-bar {
  bottom: 2px;
}

.player {
  border-top: none;
  margin-bottom: 1em;
}
.player .hp-bar {}
.player .text {
  padding-top: 3.5em;
}

.log-container {
  height: 200px;
  overflow: auto;
  overflow-x: hidden;
  padding-right: .5em;
  margin-top: 1em;
  scrollbar-width: thin;
  border: none;
}
.log {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}
.log p {
  width: 100%;
  margin: 0;
}

.button-container {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.start, .new-game {
  display: none;
}